.search {
  margin-left: 10px;
}

.actionSearch{
  display: flex;
}

.toolbar{
  display: flex;
  min-height: 100px;
  justify-content: space-between;
}

.checkboxItem.checkboxItem.checkboxItem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.checkbox.checkbox.checkbox {
  margin: 20px;
}

.checkbox > span {
  pointer-events: none;
}

.filter.filter.filter {
  margin: 0px 10px;
  border-radius: 20px;
}